    <!--¿Como usar la pokedex?-->
    <article id="como-buscar" class="how-to-use">
        <div class="how-box">
            <img src="../../assets/img/Poké_Ball_icon.png" alt="">
            <h3>Dirigete a tu pokedex y comienza con tu poke-busqueda</h3>
        </div>
        <div class="how-box">
            <img src="../../assets/img/Poké_Ball_icon.png" alt="">
            <h3>En la barra de busqueda, escribe el poke-nombre de tu pokemon favorito</h3>
        </div>
        <div class="how-box">
            <img src="../../assets/img/Poké_Ball_icon.png" alt="">
            <h3>Descubre sus habilidades, sus caracteristicas y su poke-imagen</h3>
        </div>
    </article>