 <!--Navegador Pokemon-->
 <header class="navegador">
    <div class="navegador-container">
        <i class="fa-solid fa-x btn-close"></i>
    </div>
    <div class="pokeball">
        <img src="img/Poké_Ball_icon.png" alt="">
    </div>
    <div class="navegador-links">
        <a href="#inicio"><i class="fa-solid fa-caret-right"></i> Inicio</a>
        <a href="#como-buscar"><i class="fa-solid fa-caret-right"></i> Como se busca?</a>
        <a href="#pokedex"><i class="fa-solid fa-caret-right"></i> Pokedex</a>
        <a href="#equipo"><i class="fa-solid fa-caret-right"></i> Equipo</a>
    </div>
    <div class="navegador-redes">
        <i class="fa-brands fa-facebook-f"></i>
        <i class="fa-brands fa-instagram"></i>
        <i class="fa-brands fa-twitter"></i>
        <p>"Dani no estuvo aqui"</p>
    </div>
</header>