<!--Equipos-->
<section id="equipo" class="equipos">
    <h3>MI EQUIPO POKEMON</h3>
    <div class="equipos-container">
        <div class="avatar-pokemon-team">
            <img src="../../assets/img/red.png" alt="Dani-Red">
        </div>
        <div class="cards-pokemon-team">
            <!--Gyarados-->
            <div class="card-pokemon">
                <img src="../../assets/img/gyarados.png" alt="">
                <h4>Gyarados</h4>
                <p class="card-pokemon-utilidad"> Utilidad 80% </p>
                <p class="card-pokemon-especialidad"> Especialidad: Golpes acuaticos </p>
                <p class="card-pokemon-utilidad"> Fuerte contra: Normal, pieda </p>
                <p class="card-pokemon-utilidad"> Debil contra: electricos, fuego </p>
            </div>
            <!--Charizard-->
            <div class="card-pokemon">
                <img src="../../assets/img/charizard.png" alt="">
                <h4>Charizard</h4>
                <p class="card-pokemon-utilidad"> Utilidad 90% </p>
                <p class="card-pokemon-especialidad"> Especialidad: llamaradas </p>
                <p class="card-pokemon-utilidad"> Fuerte contra: agua, planta </p>
                <p class="card-pokemon-utilidad"> Debil contra: piedra, psiquico</p>
            </div>
            <!--MewTwo-->
            <div class="card-pokemon">
                <img src="../../assets/img/mewtwo.png" alt="">
                <h4>Mewtwo</h4>
                <p class="card-pokemon-utilidad"> Utilidad 100% </p>
                <p class="card-pokemon-especialidad"> Especialidad: Poder Psiquico </p>
                <p class="card-pokemon-utilidad"> Fuerte contra: Todos </p>
                <p class="card-pokemon-utilidad"> Debil contra: fuego </p>
            </div>
            <!--Dragonite-->
            <div class="card-pokemon">
                <img class="dragonite" src="../../assets/img/dragonite.png" alt="">
                <h4>Dragonite</h4>
                <p class="card-pokemon-utilidad"> Utilidad 85% </p>
                <p class="card-pokemon-especialidad"> Especialidad: Golpes Voladores </p>
                <p class="card-pokemon-utilidad"> Fuerte contra: agua, planta </p>
                <p class="card-pokemon-utilidad"> Debil contra: electricos, piedra </p>
            </div>     
            <!--Zapdos-->
            <div class="card-pokemon">
                <img class="zapdos" src="../../assets/img/zapdos.png" alt="">
                <h4>Zapdos</h4>
                <p class="card-pokemon-utilidad"> Utilidad 95% </p>
                <p class="card-pokemon-especialidad"> Especialidad: Rayos </p>
                <p class="card-pokemon-utilidad"> Fuerte contra: voladores, planta </p>
                <p class="card-pokemon-utilidad"> Debil contra: piedra, agua </p>
            </div>
            <!--Articuno-->
            <div class="card-pokemon">
                <img src="../../assets/img/articuno.png" alt="">
                <h4>Articuno</h4>
                <p class="card-pokemon-utilidad"> Utilidad 100% </p>
                <p class="card-pokemon-especialidad"> Especialidad: Golpes Helados </p>
                <p class="card-pokemon-utilidad"> Fuerte contra: planta, fuego </p>
                <p class="card-pokemon-utilidad"> Debil contra: piedra, electricos </p>
            </div>                            
        </div>
    </div>
    </section>